@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tous ces styles CSS vont être appliqués à toute notre application */


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(230, 230, 230);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiCardMedia-root{
  height: 200px !important;
}
.MuiCardMedia-img{
  height: 200px !important ;
}

.MuiCardContent-root{
  height: 140px;
}